body{
    letter-spacing: 1px;
}
header{
    background: url(./img/castelo.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.navbar{
    z-index: 2;
}
.banner{
    background-color: rgba(0, 0, 0, 0.5);
    width: 80%;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 40%;
    transform:translate(-40%, -40%);
    z-index: 0;
}

.btn.btn-primary.btn-lg.contact-now{
    font-size: 1.1rem;
}
.spacing-card {
    margin-bottom: 24px;
}
.rewards{
    background-color: #eaf0f0;
}
.carousel-container img{
    height: 14%;
}
.carousel-inner > .carousel-item > img{
    min-width: 100%;
    max-height: 468px;
    min-height: 224px;
}

.all-radio-group {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

footer{
    margin-top: 10px;
}
.footer-address{
    margin-left: 1rem;
}
@media(min-width: 768px){
    .banner{
        width: 60%;
        left: 25%;
        transform: translate(-40%, -40%);
    }
    .about-us-responsive{
        display: flex;
    }
    .about-header{
        width: 50%;
    }
    .about-header img{
        min-height: 338px;
    }
    .about-body{
        margin-left:24px;
        width: 50%;
    }
}
@media(max-width: 311px) {
    .container-fluid > .navbar-brand{
        font-size: 1rem;
    }
}